page-order-confirm {
  .scroll-content {
     background: url('https://s-media-cache-ak0.pinimg.com/originals/d0/1d/fa/d01dfa8621f83289155a3be0970fb0cb.jpg') no-repeat;
     background-size: cover;
  }
  ion-row {
    margin-top: 20%;
    ion-card.card {
      background: rgba(232,230,230,0.6);
      border-radius: 10px;
      button {
        margin-top: 10px;
      }
      .item {
        background: rgba(232,230,230,0);
      }

      ion-card-header{
        color: #222;
        font-size: 3em;
        text-transform: uppercase;
        font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
        font-weight:lighter;
        margin: 20px 0 30px;
        text-align: center;
      }
    }
  }


  ion-item.itemlist {
    height: 80px;
    margin: 10px 0 !important;
    ion-thumbnail {
      max-width: 60px;
      max-height: 60px;
      img {
        width: 70px;
        height: 70px;
        margin:5px;
        border-radius: 50%;
      }
    }
    .list-md{
      margin: 10px 0;
    }
    //order label
    .label {
      display: table;
      width: 100%;
      height: 100%;
      .iteminfo {
        display: table-cell;
        width:70%;
        vertical-align: middle;
        h2 {
          margin-bottom: 15px;
          display: block;
        }
        .number {
          display: inline-block;
          border: 1px solid black;
          margin: 0 10px;
          padding: 0 5px;
          border-radius: 10px;
        }
        ion-icon {
          color:red;
          cursor: pointer;
        }
      }
      .itemtotal {
        display: table-cell;
        width: 30%;
        vertical-align: middle;
        text-align: center;
        font-size: 1.5em;
      }
    }
  }

  .total {
    text-align: right;
    margin-right: 10px;
  }

  button {
    display: inline;
    width: 20%;
    float: right;
  }

  form {
    .error-message {
      margin-left: 16px;
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #e26868;
      color: #c70000;
      border-radius: 10px;
    }
  }

  @media screen and (max-width : 960px) {
    ion-row {
      margin-top: 0;
    }

    .button-md {
      display: block;
      width: 80%;
      margin:  5px 10%;
    }
  }
}
