<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let orderInfo of user_orders;let i = index">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col col-12 col-sm-4>
                <div>
                  <ion-icon name="md-person"></ion-icon>{{orderInfo.contact.contact_name}}
                </div>
                <div>
                  <ion-icon name="md-home"></ion-icon>{{orderInfo.contact.address}}
                </div>
                <div>
                  <ion-icon name="md-phone-portrait"></ion-icon>{{orderInfo.contact.phone}}
                </div>
              </ion-col>
              <ion-col col-12 col-sm-8>
                <h3 *ngFor="let order of orderInfo.order">{{order.food.name}}  *{{order.number}}</h3>
              </ion-col>
            </ion-row>
            <h1>{{orderInfo.count}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
