<ion-content>
  <ion-row class="main">
    <ion-col col-sm-6>
      <h1>New User</h1>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="signupform" (ngSubmit)="register(signupform.value)">
            <ion-item>
              <ion-label floating>Email Address</ion-label>
              <ion-input type="text" formControlName="email" class="text-input"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="signupform.controls.email.touched && signupform.controls.email.hasError('required')">
              Sorry, email is required!
            </div>
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="signupform.controls.password.touched && signupform.controls.password.hasError('required')">
              Sorry, email is required!
            </div>
            <ion-item>
              <ion-label floating>Confirm Password</ion-label>
              <ion-input type="password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="signupform.controls.username.touched && signupform.controls.username.hasError('required')">
              Sorry, email is required!
            </div>
            <button ion-button round type="submit">Sign up</button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-sm-6>
      <h1>Registed User</h1>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="loginform" (ngSubmit)="register(loginform.value)">
            <ion-item style="margin30">
              <ion-label floating>Email Address</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="loginform.controls.email.touched && loginform.controls.email.hasError('required')">
              Sorry, email is required!
            </div>
            <ion-item class="margin30">
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="loginform.controls.password.touched && loginform.controls.password.hasError('required')">
              Sorry, email is required!
            </div>
            <button ion-button round type="submit">Sign in</button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-tabs>
    <ion-tab tabIcon="md-contact" tabTitle="Log in" [root]="tab1">tab1</ion-tab>
    <ion-tab tabIcon="md-clipboard" tabTitle="Sign up" [root]="tab2">tab1</ion-tab>
  </ion-tabs>
</ion-content>
